<% layout('./layouts/layouts.ejs') -%>
<body>
    

    <div class="row">
      <div class="col-6 offset-3">
        <div class="card mt-3" >
          <img src="<%= typeof specificList.image === 'object' ? specificList.image.url: specificList.image%>" class="card-img-top show-img mb-3" alt="image">
          <div class="card-body">
            <h5 class="card-title"> <b><%= specificList.title %></b></h5>
            <p class="card-text show-pc">
              <%= specificList.description %> <br>
              &#8377;<%= specificList.price.toLocaleString("en-IN") %> <br>
              <%= specificList.location %> <br>
              <%= specificList.country %> <br>
            </p>
          </div>
        </div>
        <div class="btns-show">
              <a href="/listing/<%= specificList._id %>/update" class="col-2  btn btn-dark mb-3 btn-specificList">Edit</a> 
                <form action="/listings/<%= specificList._id %>?_method=DELETE" class="" method="post">
                    <button class="btn btn-dark btn-specificList offset-3">Delete</button>
                </form>
        </div>
        
     </div>
  </div>
    

   
    
</body>
