<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= specificList.title %></title>
</head>
<body>
    <h3>Listing details</h3>
    <h1><%= specificList.title %></h1>
    <ul>
        <li><%= specificList.description %></li>
        <li>  &#8377;<%= specificList.price.toLocaleString("en-in") %></li>
        <li><%= specificList.location %></li>
        <li><%= specificList.country %></li>
    </ul>
    <a href="/listing/<%= specificList._id %>/update"><Button>update</Button></a>
</body>
</html>