<% layout('./layouts/layouts.ejs') -%>
<body>

    <H1>Chat</H1>

    



        <div id="messages">
            <% messages.forEach(message => { %>
                <p class="<%= message.sender.toString() === userId.toString() ? 'sent' : 'received' %>" style="background-color: <%= message.sender.toString() === userId.toString() ? 'lightblue' : 'none' %>;">
                    <%= message.sender.toString() == userId.toString() ? "You" : "Other" %>: &nbsp;&nbsp;&nbsp;&nbsp;
                    <%= message.content %>
                </p>
            <% }) %>
            </div>
  

    <form onsubmit="handleSubmit(event)">
        <input type="text" id="messageElement">
        <button>Send</button>
    </form>
 

    
    <script src="/socket.io/socket.io.js"></script>
    <script>

        const userId = "<%= userId %>"
        const roomId = "<%= roomId %>"
        const socket = io();
        socket.on("connect", ()=>{
            console.log("a user has been connected", socket.id);
        })

        socket.emit('joinRoom', { roomId });

        function handleSubmit(event){
        event.preventDefault(); 
          let messageInput =  document.getElementById("messageElement")
          message = messageInput.value
          if(message === "")return;

          //emitting the message to server
          socket.emit("sendMsg", {
            roomId, sender: userId, content: message
          })
          messageInput.value = "";
        }

        socket.on("new-msg", (data)=>{
            console.log("new msg:" ,data);
            const messageLsit = document.getElementById("messages");
            const newMessage = document.createElement("p");
            const senderLabel = data.sender == userId ? "You" : "Other";
            newMessage.textContent = `${senderLabel}: ${data.content}`;
            newMessage.style.backgroundColor = "lightblue"
            messageLsit.appendChild(newMessage);
        })

        
    </script>

</body>
